certifi==2020.12.5
chardet==3.0.4
cycler==0.10.0
gluoncv==0.7.0
graphviz==0.8.4
idna==2.10
kiwisolver==1.2.0
matplotlib==3.3.0
Pillow==7.2.0
pony==0.7.14
portalocker==2.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.24.0
tqdm==4.48.0
urllib3==1.25.10
